/* compass imports */
/* default colors */
/* default widths */
/* variables used throughout the site */
/* line 1, ../_base.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 0 0 15px;
  background: #FFF;
  color: #333333;
  padding: 0;
  font-size: 12px !important;
}

/* line 10, ../_base.scss */
p, td {
  font-size: 12px;
  line-height: 1.4;
}

/* line 15, ../_base.scss */
img {
  border: none;
}

/* line 19, ../_base.scss */
h1 {
  font-size: 200%;
  font-weight: bold;
}

/* line 24, ../_base.scss */
h2 {
  font-size: 160%;
  font-weight: bold;
}

/* line 29, ../_base.scss */
h3 {
  font-size: 140%;
  font-weight: bold;
}

/* line 34, ../_base.scss */
h4 {
  font-size: 120%;
  font-weight: bold;
}

/* line 39, ../_base.scss */
h5 {
  font-size: 100%;
  font-weight: bold;
}

/* generic styles */
/* line 45, ../_base.scss */
.succeeded {
  color: #006633;
  font-weight: bold;
}

/* line 50, ../_base.scss */
.failed {
  color: #FF0000;
  font-weight: bold;
}

/* line 55, ../_base.scss */
.notice {
  color: #FF0000;
  padding: 10px 10px 10px 10px;
  border: 1px solid #777;
}

/* line 61, ../_base.scss */
.space {
  font-size: 10px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

/* line 67, ../_base.scss */
.left {
  float: left;
}

/* line 71, ../_base.scss */
.right {
  float: right;
}

/* line 75, ../_base.scss */
.center {
  text-align: center;
}

/* line 79, ../_base.scss */
.block {
  display: block;
}

/* line 83, ../_base.scss */
.displayNone, .hide {
  display: none;
}

/* line 87, ../_base.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Shared Styles */
/* line 97, ../_base.scss */
#PageOuter {
  margin: 0 auto;
  padding: 0px;
  background-color: Transparent;
  border: none 0px;
}

/* line 104, ../_base.scss */
#PageInner {
  width: 1025px;
  margin: 0 auto;
  padding: 0px;
  background-color: Transparent;
  border: none 0px;
}

/* all buttons */
/* line 114, ../_base.scss */
#Page {
  width: 1025px !important;
  padding: 0px !important;
  margin: 0px !important;
  overflow: visible !important;
  clear: both;
}
/* line 125, ../_base.scss */
#Page input.submit, #Page input.submitWithColors, #Page #RegisterSignIn input.submitButton, #RegisterSignIn #Page input.submitButton, #Page #Register input.RegisterButton, #Register #Page input.RegisterButton, #Page #StoreLocator input.submitButton, #StoreLocator #Page input.submitButton, #Page #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox input.SingleItemLinkText, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox #Page input.SingleItemLinkText, #Page input.button,
#Page .dropdownMenu .dropdownMenuHeader,
#Page a.submit,
#Page a.submitWithColors,
#Page #RegisterSignIn a.submitButton,
#RegisterSignIn #Page a.submitButton,
#Page #Register a.RegisterButton,
#Register #Page a.RegisterButton,
#Page #StoreLocator a.submitButton,
#StoreLocator #Page a.submitButton,
#Page #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox a.SingleItemLinkText,
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox #Page a.SingleItemLinkText, #Page a.submit:link, #Page a.submitWithColors:link, #Page #RegisterSignIn a.submitButton:link, #RegisterSignIn #Page a.submitButton:link, #Page #Register a.RegisterButton:link, #Register #Page a.RegisterButton:link, #Page #StoreLocator a.submitButton:link, #StoreLocator #Page a.submitButton:link, #Page #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox a.SingleItemLinkText:link, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox #Page a.SingleItemLinkText:link, #Page a.submit:visited, #Page a.submitWithColors:visited, #Page #RegisterSignIn a.submitButton:visited, #RegisterSignIn #Page a.submitButton:visited, #Page #Register a.RegisterButton:visited, #Register #Page a.RegisterButton:visited, #Page #StoreLocator a.submitButton:visited, #StoreLocator #Page a.submitButton:visited, #Page #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox a.SingleItemLinkText:visited, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox #Page a.SingleItemLinkText:visited, #Page a.submit:hover, #Page a.submitWithColors:hover, #Page #RegisterSignIn a.submitButton:hover, #RegisterSignIn #Page a.submitButton:hover, #Page #Register a.RegisterButton:hover, #Register #Page a.RegisterButton:hover, #Page #StoreLocator a.submitButton:hover, #StoreLocator #Page a.submitButton:hover, #Page #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox a.SingleItemLinkText:hover, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox #Page a.SingleItemLinkText:hover, #Page a.submit:active, #Page a.submitWithColors:active, #Page #RegisterSignIn a.submitButton:active, #RegisterSignIn #Page a.submitButton:active, #Page #Register a.RegisterButton:active, #Register #Page a.RegisterButton:active, #Page #StoreLocator a.submitButton:active, #StoreLocator #Page a.submitButton:active, #Page #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox a.SingleItemLinkText:active, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox #Page a.SingleItemLinkText:active,
#Page a.button, #Page a.button:link, #Page a.button:visited, #Page a.button:hover, #Page a.button:active,
#Page a.nav, #Page a.nav:link, #Page a.nav:visited, #Page a.nav:hover, #Page a.nav:active, #Page .dropdownMenu, #Page #StatusBar input.submit, #Page #StatusBar input.submitWithColors, #Page #StatusBar #RegisterSignIn input.submitButton, #RegisterSignIn #Page #StatusBar input.submitButton, #Page #StatusBar #Register input.RegisterButton, #Register #Page #StatusBar input.RegisterButton, #Page #StatusBar #StoreLocator input.submitButton, #StoreLocator #Page #StatusBar input.submitButton, #Page #StatusBar #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox input.SingleItemLinkText, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox #Page #StatusBar input.SingleItemLinkText, #Page #StatusBar input.button,
#Page #StatusBar .dropdownMenu .dropdownMenuHeader,
#Page #StatusBar a.submit,
#Page #StatusBar a.submitWithColors,
#Page #StatusBar #RegisterSignIn a.submitButton,
#RegisterSignIn #Page #StatusBar a.submitButton,
#Page #StatusBar #Register a.RegisterButton,
#Register #Page #StatusBar a.RegisterButton,
#Page #StatusBar #StoreLocator a.submitButton,
#StoreLocator #Page #StatusBar a.submitButton,
#Page #StatusBar #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox a.SingleItemLinkText,
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox #Page #StatusBar a.SingleItemLinkText, #Page #StatusBar a.submit:link, #Page #StatusBar a.submitWithColors:link, #Page #StatusBar #RegisterSignIn a.submitButton:link, #RegisterSignIn #Page #StatusBar a.submitButton:link, #Page #StatusBar #Register a.RegisterButton:link, #Register #Page #StatusBar a.RegisterButton:link, #Page #StatusBar #StoreLocator a.submitButton:link, #StoreLocator #Page #StatusBar a.submitButton:link, #Page #StatusBar #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox a.SingleItemLinkText:link, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox #Page #StatusBar a.SingleItemLinkText:link, #Page #StatusBar a.submit:visited, #Page #StatusBar a.submitWithColors:visited, #Page #StatusBar #RegisterSignIn a.submitButton:visited, #RegisterSignIn #Page #StatusBar a.submitButton:visited, #Page #StatusBar #Register a.RegisterButton:visited, #Register #Page #StatusBar a.RegisterButton:visited, #Page #StatusBar #StoreLocator a.submitButton:visited, #StoreLocator #Page #StatusBar a.submitButton:visited, #Page #StatusBar #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox a.SingleItemLinkText:visited, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox #Page #StatusBar a.SingleItemLinkText:visited, #Page #StatusBar a.submit:hover, #Page #StatusBar a.submitWithColors:hover, #Page #StatusBar #RegisterSignIn a.submitButton:hover, #RegisterSignIn #Page #StatusBar a.submitButton:hover, #Page #StatusBar #Register a.RegisterButton:hover, #Register #Page #StatusBar a.RegisterButton:hover, #Page #StatusBar #StoreLocator a.submitButton:hover, #StoreLocator #Page #StatusBar a.submitButton:hover, #Page #StatusBar #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox a.SingleItemLinkText:hover, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox #Page #StatusBar a.SingleItemLinkText:hover, #Page #StatusBar a.submit:active, #Page #StatusBar a.submitWithColors:active, #Page #StatusBar #RegisterSignIn a.submitButton:active, #RegisterSignIn #Page #StatusBar a.submitButton:active, #Page #StatusBar #Register a.RegisterButton:active, #Register #Page #StatusBar a.RegisterButton:active, #Page #StatusBar #StoreLocator a.submitButton:active, #StoreLocator #Page #StatusBar a.submitButton:active, #Page #StatusBar #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox a.SingleItemLinkText:active, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox #Page #StatusBar a.SingleItemLinkText:active,
#Page #StatusBar a.button, #Page #StatusBar a.button:link, #Page #StatusBar a.button:visited, #Page #StatusBar a.button:hover, #Page #StatusBar a.button:active,
#Page #StatusBar a.nav, #Page #StatusBar a.nav:link, #Page #StatusBar a.nav:visited, #Page #StatusBar a.nav:hover, #Page #StatusBar a.nav:active, #Page #StatusBar .dropdownMenu {
  text-decoration: none !important;
  color: white !important;
  background-color: #4473b2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4473b2), color-stop(100%, #1554a2));
  background: -webkit-linear-gradient(#4473b2, #1554a2);
  background: -moz-linear-gradient(#4473b2, #1554a2);
  background: -o-linear-gradient(#4473b2, #1554a2);
  background: linear-gradient(#4473b2, #1554a2);
}

/* line 139, ../_base.scss */
.dropdownMenu .dropdownMenuHeader {
  text-decoration: none !important;
  color: white !important;
  background-color: #4473b2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4473b2), color-stop(100%, #1554a2));
  background: -webkit-linear-gradient(#4473b2, #1554a2);
  background: -moz-linear-gradient(#4473b2, #1554a2);
  background: -o-linear-gradient(#4473b2, #1554a2);
  background: linear-gradient(#4473b2, #1554a2);
}

/* line 147, ../_base.scss */
#Page a:link, #noPrintBox a:link, .noPrint a:link {
  text-decoration: none;
  color: #0167b6 !important;
  background: transparent;
}
/* line 152, ../_base.scss */
#Page a:visited, #noPrintBox a:visited, .noPrint a:visited {
  text-decoration: none;
  color: #0167b6 !important;
  background: transparent;
}
/* line 157, ../_base.scss */
#Page a:hover, #noPrintBox a:hover, .noPrint a:hover {
  text-decoration: underline;
  color: #0167b6 !important;
  background: transparent;
}
/* line 162, ../_base.scss */
#Page a:active, #noPrintBox a:active, .noPrint a:active {
  text-decoration: none;
  color: #0167b6 !important;
  background: transparent;
}

/* line 170, ../_base.scss */
#Page p#WelcomeMsgParagraph {
  text-align: center;
  margin-top: 20px;
  line-height: 1.5;
  font-weight: bold;
}

/* line 178, ../_base.scss */
#StatusBar {
  height: 26px;
  font-size: 12px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 183, ../_base.scss */
#StatusBar a.status {
  text-decoration: none;
  color: #0167b6;
  background: transparent;
  font-weight: bold;
}
/* line 189, ../_base.scss */
#StatusBar a.status:link {
  text-decoration: none;
  color: #0167b6;
  background: transparent;
}
/* line 194, ../_base.scss */
#StatusBar a.status:visited {
  text-decoration: none;
  color: #0167b6;
  background: transparent;
}
/* line 199, ../_base.scss */
#StatusBar a.status:hover {
  text-decoration: underline;
  color: #0167b6;
  background: transparent;
}
/* line 204, ../_base.scss */
#StatusBar a.status:active {
  text-decoration: none;
  color: #0167b6;
  background: transparent;
}

/* line 211, ../_base.scss */
#PageMenu {
  font-size: 12px;
  margin: 10px;
  border-bottom: 1px solid #CCC;
  min-height: 25px;
}
/* line 216, ../_base.scss */
#PageMenu > span {
  margin-left: 8px;
}

/* line 221, ../_base.scss */
.statbar {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 226, ../_base.scss */
#bkframe {
  position: absolute;
}

/* line 237, ../_base.scss */
#EnlargedContent {
  width: 1215px;
}

/* line 241, ../_base.scss */
#ContentTable {
  width: 1025px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 0 25px 0 !important;
  border-bottom: 1px solid #AAA;
}

/* line 249, ../_base.scss */
#CircularContentTable {
  float: left;
  width: 1015px;
  margin: 15px 10px 5px 0 !important;
}
/* line 255, ../_base.scss */
#CircularContentTable #Circular {
  padding-left: 10px;
  float: left;
  width: 834px;
}
/* line 260, ../_base.scss */
#CircularContentTable #Circular #PageImage {
  max-width: 834px;
  margin: auto;
  display: block;
}
/* line 266, ../_base.scss */
#CircularContentTable .bottomPagination {
  float: left;
  clear: both;
  width: 100%;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 20px;
  border-top: 1px solid #CCC;
}
/* line 274, ../_base.scss */
#CircularContentTable .bottomPagination a {
  display: inline-block;
  line-height: 26px;
  height: 26px;
}
/* line 279, ../_base.scss */
#CircularContentTable .bottomPagination .print {
  font-weight: bold;
}

/* line 285, ../_base.scss */
#PageTitle {
  font-size: 16px;
  font-weight: bold;
}

/* line 290, ../_base.scss */
.pageSubTitle {
  font-size: 14px;
  font-weight: bold;
}

/* line 295, ../_base.scss */
.catList {
  margin: 0;
  font-size: 11px;
}

/* line 300, ../_base.scss */
#Message {
  font-size: 12px;
  font-weight: normal;
  padding: 10px 0px 10px;
  text-align: center;
}

/* line 307, ../_base.scss */
#SubMenuBottom {
  margin: 10px 0 0 0;
  font-size: 12px;
}

/* line 312, ../_base.scss */
.t_navigate {
  width: 1005px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #CCC;
  font-weight: bold;
  height: 41px;
}
/* line 320, ../_base.scss */
.t_navigate .t_navtopmenu {
  padding: 5px 0;
  float: left;
  width: 47%;
}
/* line 323, ../_base.scss */
.t_navigate .t_navtopmenu .currentPage {
  color: #000;
}
/* line 328, ../_base.scss */
.t_navigate .categoryBrowsing {
  float: right;
}
/* line 332, ../_base.scss */
.t_navigate .sfHover ul {
  z-index: 100;
}

/* line 338, ../_base.scss */
.t_navcatmenu {
  padding: 0px 10px 25px 10px;
  overflow: auto;
  font-weight: bold;
}

/* line 344, ../_base.scss */
#CatNavPrev {
  float: left;
}

/* line 348, ../_base.scss */
#CatNavNext {
  float: right;
}

/* Pagination */
/* line 353, ../_base.scss */
.pagination {
  height: 26px;
  line-height: 28px;
  padding: 0 10px 10px 0;
  text-align: left;
}
/* line 358, ../_base.scss */
.pagination .nav, .pagination .current-page {
  height: 26px;
  max-width: 15px;
  padding: 0 8px;
  border: 1px solid #CCC;
  margin-right: 3px;
  margin-left: 0;
  display: inline-block;
  vertical-align: top;
}
/* line 368, ../_base.scss */
.pagination .nav.next, .pagination .nav.prev {
  max-width: 28px;
}
/* line 371, ../_base.scss */
.pagination .paging-group {
  display: inline-block;
}
/* line 374, ../_base.scss */
.pagination .next, .pagination .prev {
  padding: 0;
}
/* line 376, ../_base.scss */
.pagination .next img, .pagination .prev img {
  vertical-align: top;
  border: none;
}

/* line 383, ../_base.scss */
a.nav {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

/* line 389, ../_base.scss */
.current-page {
  color: #333333;
  background-color: #cccccc;
  font-weight: bold;
}

/* Dropdown Menus */
/* line 396, ../_base.scss */
.dropdownMenu {
  margin: 0;
  margin-left: 8px;
  padding: 0;
  min-width: 150px;
  float: right;
  width: 183px;
  border: 1px solid #CCC;
  border-radius: 2px;
  display: inline-block;
  height: 35px;
  list-style: none !important;
}
/* line 408, ../_base.scss */
.dropdownMenu ul {
  border: solid #CCC;
  border-width: 0px 1px 1px 1px;
  background-image: none;
  border-radius: 0;
  display: none;
  background-color: #FFF;
  padding: 8px 0;
  top: inherit !important;
}
/* line 417, ../_base.scss */
.dropdownMenu ul, .dropdownMenu ul li {
  position: relative;
  list-style-type: none;
  margin: 0;
  z-index: 15;
  width: inherit !important;
}
/* line 426, ../_base.scss */
.dropdownMenu li:hover ul {
  background-color: #FFF !important;
}
/* line 429, ../_base.scss */
.dropdownMenu li a {
  margin-left: 8px !important;
  background: #FFF;
  font-weight: bold;
}
/* line 435, ../_base.scss */
.dropdownMenu .dropdownMenuHeader {
  line-height: 35px;
  border-bottom: 1px solid #CCC;
  padding: 0 0 0 5px;
  font-weight: bold;
  text-align: center;
}
/* line 441, ../_base.scss */
.dropdownMenu .dropdownMenuHeader > span, .dropdownMenu .dropdownMenuHeader > a {
  font-weight: bold;
}
/* line 444, ../_base.scss */
.dropdownMenu .dropdownMenuHeader .down-arrow-white {
  background-image: url(../Shared/Images/down-arrow-white.png);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  cursor: default;
  border: none;
  margin-right: 8px;
  padding: 1px 7px 1px 5px;
  margin-top: 11px;
  margin-left: 3px;
  float: right;
}
/* line 460, ../_base.scss */
.dropdownMenu.small {
  height: 20px;
}
/* line 462, ../_base.scss */
.dropdownMenu.small .dropdownMenuHeader {
  line-height: 21px;
}
/* line 464, ../_base.scss */
.dropdownMenu.small .dropdownMenuHeader #MiniSLCount {
  margin-top: 02 !important;
  background-image: url(../../imagesApp/circleSmall.png) !important;
  line-height: 17px !important;
}
/* line 469, ../_base.scss */
.dropdownMenu.small .dropdownMenuHeader .down-arrow-white {
  margin-top: 5px;
}

/* UC Shopping List */
/* line 479, ../_base.scss */
#SLDropdown p {
  color: #333;
}
/* line 482, ../_base.scss */
#SLDropdown a.nav {
  height: 18px;
  padding: 0 7px;
  line-height: 18px;
  font-weight: bold;
  border: 1px solid #CCC;
  display: inline-block;
}
/* line 490, ../_base.scss */
#SLDropdown span {
  margin: 0 5px;
  float: left;
}
/* line 494, ../_base.scss */
#SLDropdown #MiniSLCount {
  display: inline-block;
  height: 23px;
  width: 23px;
  background-image: url(../../imagesApp/circle.png);
  background-color: transparent;
  background-repeat: no-repeat;
  margin-top: 5px;
  line-height: 25px;
  color: #0167b6;
  text-align: center;
}
/* line 509, ../_base.scss */
#SLDropdown #SLItemsList #ShoppingListAddUserDefinedItem a, #SLDropdown #SLItemsList .removeSLItemLink a {
  color: #0167b6 !important;
  text-decoration: none;
}
/* line 515, ../_base.scss */
#SLDropdown #SLItemsList a:hover {
  text-decoration: underline;
}
/* line 520, ../_base.scss */
#SLDropdown #MiniSLItems {
  background-color: #FFF;
  padding: 6px 3px 3px 10px;
  voice-family: "\"}\"";
  voice-family: inherit;
}
/* line 525, ../_base.scss */
#SLDropdown #MiniSLItems .itemData, #SLDropdown #MiniSLItems a {
  font-weight: bold;
}
/* line 529, ../_base.scss */
#SLDropdown .MiniSLLink {
  font-size: 11px;
  font-weight: bold;
  margin: 3px 0;
}
/* line 533, ../_base.scss */
#SLDropdown .MiniSLLink a {
  margin-left: 0 !important;
}
/* line 537, ../_base.scss */
#SLDropdown .MiniSLHeader a {
  color: white !important;
}
/* line 540, ../_base.scss */
#SLDropdown .itemBox {
  width: 95%;
  min-height: 40px;
  padding: 7px 4px;
  border-bottom: 1px solid #CCC;
  position: relative;
  overflow: hidden;
}
/* line 548, ../_base.scss */
#SLDropdown .itemInfoBox {
  position: absolute;
}
/* line 551, ../_base.scss */
#SLDropdown .itemImg {
  float: right;
  width: 40px;
  text-align: right;
  margin-right: 8px;
}
/* line 557, ../_base.scss */
#SLDropdown .itemData {
  margin: 0;
  font-size: 11px;
}
/* line 561, ../_base.scss */
#SLDropdown .productInfoBox {
  margin-bottom: 30px;
  min-height: 40px;
}
/* line 565, ../_base.scss */
#SLDropdown .itemRem {
  margin-bottom: 3px;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 571, ../_base.scss */
#SLDropdown .itemRem a {
  margin-left: 0 !important;
}
/* line 574, ../_base.scss */
#SLDropdown .itemRem .qtyButtons {
  float: right;
  margin-bottom: 4px;
  margin-right: 16px;
}
/* line 578, ../_base.scss */
#SLDropdown .itemRem .qtyButtons a {
  margin: 0;
}
/* line 582, ../_base.scss */
#SLDropdown .itemRem .qtyButtons span {
  line-height: 18px;
}
/* line 586, ../_base.scss */
#SLDropdown .itemRem .qtyButtons .decrementQty {
  float: left;
}
/* line 590, ../_base.scss */
#SLDropdown .itemRem .qtyButtons .incrementQty {
  margin-left: 0px !important;
}

/* line 597, ../_base.scss */
.emptySmallSLimage {
  text-align: center;
}

/* line 601, ../_base.scss */
.emptySmallSLtext {
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
  font-weight: bold;
  color: #333;
}

/* User Defined Item Box */
/* line 609, ../_base.scss */
#ShoppingListAddUserDefinedItem {
  padding: 6px 3px 3px 10px;
  voice-family: inherit;
  background-color: #FFF;
}
/* line 613, ../_base.scss */
#ShoppingListAddUserDefinedItem div {
  font-size: 11px;
  font-weight: bold;
  padding: 2px 0;
  color: black;
}
/* line 619, ../_base.scss */
#ShoppingListAddUserDefinedItem #AdditionalItem {
  max-width: 113px;
  border-color: #CCC;
}
/* line 623, ../_base.scss */
#ShoppingListAddUserDefinedItem #CustomerDefinedButton {
  padding: 2px 5px;
  border: 1px solid #CCC;
  font-weight: bold;
}

/* line 630, ../_base.scss */
.specialBuysContainer {
  background-color: #4473b2;
}

/* Shopping List Page */
/* line 636, ../_base.scss */
#ShoppingListPage #PageMenu {
  margin: 0;
  padding: 10px;
  line-height: 25px;
}
/* line 640, ../_base.scss */
#ShoppingListPage #PageMenu > span {
  margin-left: 0px;
}
/* line 643, ../_base.scss */
#ShoppingListPage #PageMenu #PageTitle {
  padding-left: 10px;
  padding-bottom: 5px;
  vertical-align: middle;
  width: 130px;
  line-height: 20px;
}
/* line 650, ../_base.scss */
#ShoppingListPage #PageMenu #Prices {
  color: #555;
  line-height: 22px;
}

/* line 657, ../_base.scss */
#SLMenu {
  text-align: right;
  line-height: 20px;
  font-weight: bold;
  margin-right: 6px;
}

/* line 664, ../_base.scss */
#frmShopListPage {
  width: 835px;
  padding: 10px;
}
/* line 668, ../_base.scss */
#frmShopListPage thead td {
  height: 35px;
  min-width: 60px;
  font-weight: bold;
}
/* line 674, ../_base.scss */
#frmShopListPage .slQtyHeader {
  text-align: right;
  padding-right: 15px;
  min-width: 95px;
}

/* line 681, ../_base.scss */
#frmShopListPage > table > thead > tr > td.slItemHeader {
  padding-left: 8px;
}

/* line 685, ../_base.scss */
.sLBox td {
  border-top: 1px solid #CCC;
  padding: 7px 0 10px 0;
  vertical-align: top;
  padding-left: 8px;
}

/* line 692, ../_base.scss */
.sLBox .sLImg {
  width: 45px;
  text-align: center;
}

/* line 697, ../_base.scss */
.sLBox .sLTitle {
  padding-left: 10px;
  font-weight: bold;
}

/* line 702, ../_base.scss */
.sLBox .sLDesc {
  font-size: 10px;
  font-weight: normal;
}

/* line 707, ../_base.scss */
.sLBox .sLDet1 {
  padding-left: 12px;
  width: 85px;
  font-weight: normal;
  font-size: 10px;
}

/* line 714, ../_base.scss */
.sLBox .sLDet2 {
  padding-left: 5px;
  width: 90px;
  font-weight: bold;
  font-size: 10px;
}

/* line 721, ../_base.scss */
.sLBox .sLRem {
  padding-right: 15px;
  width: 50px;
  text-align: center;
}

/* line 727, ../_base.scss */
.sLBox .sLQty {
  text-align: right;
  padding-right: 8px;
}

/* line 732, ../_base.scss */
.sLBox .sLQty input {
  text-align: center;
}

/* line 736, ../_base.scss */
.button {
  border: 1px solid #CCC;
}

/* line 740, ../_base.scss */
.sLCatBox + .sLBox > td {
  border: 0;
}

/* line 744, ../_base.scss */
.sLCat {
  padding: 3px 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #EEE;
}

/* line 748, ../_base.scss */
.sLCatSpc {
  padding: 0 0 0 0;
}

/* line 752, ../_base.scss */
.sLSourceBox {
  color: #777;
}

/* line 756, ../_base.scss */
.no_border {
  border: 0;
}

/* line 760, ../_base.scss */
#ShoppingListButtons {
  padding: 10px 6px;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
}
/* line 764, ../_base.scss */
#ShoppingListButtons input[type=button] {
  cursor: pointer;
}

/* line 769, ../_base.scss */
#ShoppingListButtons div {
  font-weight: bold;
  padding: 5px 0;
}

/* Empty Shopping List */
/* line 776, ../_base.scss */
#emptySLImage {
  width: 20%;
  text-align: center;
  border-right: 1px solid #CCC;
}

/* line 782, ../_base.scss */
#emptySLSteps {
  padding-left: 15px;
  padding-bottom: 15px;
  width: 75%;
}

/* line 788, ../_base.scss */
#emptySLSteps h3 {
  margin-top: 5px;
  color: #333333;
  font-weight: bold;
}

/* line 794, ../_base.scss */
.SLStep {
  color: #777;
}

/* line 798, ../_base.scss */
#emptySLLinks {
  padding-left: 15px;
  padding-top: 10px;
  border-top: 1px solid #CCC;
}

/* line 804, ../_base.scss */
#emptySLLinks a {
  display: block;
  font-size: 140%;
  font-weight: bold;
}

/* line 810, ../_base.scss */
#startSL {
  padding: 20px 10px;
  font-weight: bold;
}

/* Email Shopping List */
/* line 816, ../_base.scss */
#frmEmailList {
  padding: 0 10px 100px 20px;
}
/* line 819, ../_base.scss */
#frmEmailList p label {
  font-weight: bold;
  line-height: 20px;
  vertical-align: top;
}
/* line 824, ../_base.scss */
#frmEmailList p .textBox {
  width: 200px;
}
/* line 827, ../_base.scss */
#frmEmailList p a {
  font-weight: bold;
}
/* line 830, ../_base.scss */
#frmEmailList p #SendEmail {
  margin-top: 25px;
}

/* Item List Page */
/* line 837, ../_base.scss */
#ProductList {
  border-collapse: separate;
  border-spacing: 10px 0;
}
/* line 840, ../_base.scss */
#ProductList td {
  width: 50%;
}
/* line 843, ../_base.scss */
#ProductList .ProductItem {
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
}
/* line 846, ../_base.scss */
#ProductList .ProductItem .itemListContainer {
  position: relative;
}
/* line 848, ../_base.scss */
#ProductList .ProductItem .itemListContainer .itemListImageContainer {
  display: inline-block;
  width: 72px;
  vertical-align: top;
  padding: 10px 0;
  padding-right: 10px;
  padding-top: 25px;
  text-align: center;
  float: right;
}
/* line 858, ../_base.scss */
#ProductList .ProductItem .itemListContainer .itemListDataContainer {
  display: inline-block;
  padding: 10px 0;
  width: 407.5px;
}
/* line 862, ../_base.scss */
#ProductList .ProductItem .itemListContainer .itemListDataContainer > div {
  position: absolute;
  bottom: 0px;
}

/* Coupons List Page */
/* line 872, ../_base.scss */
#InfoCouponList {
  border-collapse: separate;
  border-spacing: 10px 0;
}
/* line 875, ../_base.scss */
#InfoCouponList td:first-child {
  border-top: 0px;
}
/* line 878, ../_base.scss */
#InfoCouponList .CouponItem {
  border-top: 1px solid #CCC;
  width: 50%;
  padding-bottom: 10px;
}
/* line 882, ../_base.scss */
#InfoCouponList .CouponItem .itemListContainerCoupon {
  margin: 10px 0px;
  background-color: #ffffe1;
}
/* line 885, ../_base.scss */
#InfoCouponList .CouponItem .itemListContainerCoupon .itemListImageContainerCoupon {
  float: left;
  width: 72px;
  vertical-align: top;
  padding-right: 10px;
  text-align: center;
}
/* line 891, ../_base.scss */
#InfoCouponList .CouponItem .itemListContainerCoupon .itemListImageContainerCoupon .itemListImagesCoupon {
  width: 72px;
}
/* line 895, ../_base.scss */
#InfoCouponList .CouponItem .itemListContainerCoupon .itemListDataContainerCoupon {
  float: right;
  width: 714px;
}

/* line 903, ../_base.scss */
.itemListItemName {
  font-weight: bold;
  margin: 0 0 4px 0;
  font-size: 12px;
  line-height: normal;
}

/* line 910, ../_base.scss */
.itemListItemDescription {
  font-weight: normal;
  margin: 0 0 4px 0;
  font-size: 11px;
  line-height: normal;
  color: #777;
}

/* line 918, ../_base.scss */
.itemListItemPrice {
  font-weight: bold;
  margin: 0 0 20px 0;
  font-size: 11px;
  line-height: normal;
}

/* line 925, ../_base.scss */
.itemAddToList {
  border: 1px solid #CCC;
  font: 11px Verdana, Arial, Helvetica;
  line-height: 20px;
  font-weight: bold;
  padding: 2px 5px;
}

/* CIRCULARS */
/* line 935, ../_base.scss */
#CircularLandingHeader {
  width: 1005px;
  border-bottom: 1px solid #CCC;
  padding: 0 10px 10px 10px;
}

/* line 941, ../_base.scss */
#mainPageCircList {
  float: left;
  width: 835px;
  vertical-align: top;
  text-align: right;
  padding-left: 10px;
  padding-top: 10px;
}

/* line 950, ../_base.scss */
.browse-by {
  margin: 10px 0 10px 0;
  font-weight: bold;
}

/* line 955, ../_base.scss */
.CircularValidDates {
  margin: 0px 25px 10px 0px;
  text-align: center;
  color: #777;
}

/* line 960, ../_base.scss */
.socialButton {
  margin-top: 4px;
}

/* line 964, ../_base.scss */
#DivCategoryList .catList a {
  font-weight: bold;
}

/* line 968, ../_base.scss */
#circ_instruction {
  text-align: center;
  width: 250px;
  border: 1px solid #C2DAF2;
  font-size: 10px;
  padding: 1px 0 2px 0;
}

/* line 976, ../_base.scss */
#CircularHeader {
  padding: 10px 10px 0 10px;
  width: 1005px;
  margin: 0 !important;
  overflow: auto;
}

/* line 983, ../_base.scss */
#CircularHeader div {
  display: inline;
  vertical-align: top;
  font-size: 12px;
}

/* line 989, ../_base.scss */
.address {
  margin: 0;
  font-size: 11px;
  color: #AAA;
}

/* line 995, ../_base.scss */
.addressName {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}

/* line 1001, ../_base.scss */
#CircularHeader .textBox {
  width: 304px;
  height: 22px;
  line-height: 21px;
  padding: 0 5px;
  border-color: #CCC;
  font-size: 12px;
}

/* line 1010, ../_base.scss */
#Search {
  height: 26px;
  line-height: 12px;
  width: 60px;
  border-color: #CCC;
  padding: 4px 10px;
}

/* Top Circular Links */
/* line 1019, ../_base.scss */
#CircularLinks {
  padding: 5px 10px 0 10px;
  width: 1005px;
  margin: 0px;
  font-size: 13px;
  overflow: auto;
  min-height: 14px;
}
/* line 1026, ../_base.scss */
#CircularLinks p {
  margin: 0;
  padding: 0;
}
/* line 1030, ../_base.scss */
#CircularLinks #futureCircBox {
  cursor: pointer;
}
/* line 1032, ../_base.scss */
#CircularLinks #futureCircBox #futureCircText {
  color: #0167b6;
}

/* line 1038, ../_base.scss */
#NoCircular {
  margin: 0 0 10px 0;
  text-align: center;
}

/* line 1043, ../_base.scss */
.placeholder {
  color: #aaa;
}

/* StatusBar */
/* line 1048, ../_base.scss */
#statbarPush {
  width: 100%;
  border: solid 1px Red;
  background-color: Red;
}

/* line 1054, ../_base.scss */
#statbarPushText {
  margin: 2px 0px 2px 0px;
  text-align: center;
  font-weight: bold;
  color: #FFF;
}

/* CircularItemDetail.aspx */
/* line 1062, ../_base.scss */
#CircularItems {
  width: 100%;
  float: left;
}
/* line 1065, ../_base.scss */
#CircularItems #DivCategoryList {
  padding-left: 10px;
}

/* line 1070, ../_base.scss */
.itemTitle {
  font-size: 12px;
  font-weight: bold;
}

/* line 1075, ../_base.scss */
.itemDesc {
  font-size: 12px;
  font-weight: normal;
}

/* line 1080, ../_base.scss */
input.textBox {
  border: 1px solid #CCC;
  background: #fff;
  padding: 2px;
  line-height: 14px;
}

/* line 1087, ../_base.scss */
input.textBox2 {
  border: 1px solid #CCC;
  padding: 5px;
  margin: 0;
  width: 20px;
  vertical-align: top;
  height: 15px;
}

/* line 1096, ../_base.scss */
.submit, .submitWithColors, #RegisterSignIn .submitButton, #Register .RegisterButton, #StoreLocator .submitButton, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox .SingleItemLinkText {
  border: 1px solid #CCC;
  padding: 4px 10px 3px 10px;
  font: 11px Verdana, Arial, Helvetica;
  line-height: 14px;
  font-weight: bold;
}

/* line 1104, ../_base.scss */
.submitWithColors, #RegisterSignIn .submitButton, #Register .RegisterButton, #StoreLocator .submitButton, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox .SingleItemLinkText {
  color: white;
  background-color: #4473b2, #1554a2;
}

/* circular static */
/* line 1111, ../_base.scss */
.circular_header {
  font-size: 13px;
  font-weight: bold;
}

/* line 1116, ../_base.scss */
#Footer {
  font-size: 10px;
  margin: 40px 0 20px 0;
  text-align: center;
  clear: both;
}

/* line 1123, ../_base.scss */
#Footer a {
  font-size: 10px;
}

/* line 1127, ../_base.scss */
.Footer2 {
  font-size: 10px;
  margin: 40px 0 20px 0;
  text-align: center;
}

/* POP */
/* PopColA and PopColB define the checker board layout of alternating colors */
/* line 1135, ../_base.scss */
.PopColA {
  border: 1px solid #428d71;
  background-color: #FFF;
  vertical-align: top;
}

/* line 1141, ../_base.scss */
.PopColB {
  border: 1px solid #428d71;
  background-color: #FFF;
  vertical-align: top;
}

/* line 1147, ../_base.scss */
p.PopMessage {
  color: #FF0000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* line 1154, ../_base.scss */
#PopPage {
  width: 760px;
  padding-top: 20px;
  margin-top: 2px;
  background-color: #CBE2DB;
}

/* Generic Products */
/* line 1162, ../_base.scss */
.GenParentCat {
  font-size: 16px;
  background-color: #FFE019;
  color: #006600;
  font-weight: bold;
  margin-top: 5px;
  padding-left: 5px;
}

/* line 1171, ../_base.scss */
.GenChildCat {
  font-size: 14px;
  background-color: #509F85;
  color: #fff;
  margin-top: 5px;
  padding-left: 5px;
}

/* Site Version Styles */
/* line 1181, ../_base.scss */
#SiteVersionOuterBox {
  width: 108px;
  height: 16px;
  background-color: #EEE;
  border: solid 1px #666;
}

/* line 1188, ../_base.scss */
#SiteVersionInnerBox {
  width: 104px;
  height: 14px;
  margin: 1px 1px 1px 1px;
}

/* line 1194, ../_base.scss */
#SiteVersionText {
  font-size: 10px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

/* line 1201, ../_base.scss */
a#SiteVersion {
  font-size: 10px;
}

/* line 1205, ../_base.scss */
a#SiteVersion:link {
  font-size: 10px;
}

/* line 1209, ../_base.scss */
a#SiteVersion:visited {
  font-size: 10px;
}

/* line 1213, ../_base.scss */
a#SiteVersion:hover {
  font-size: 10px;
}

/* line 1217, ../_base.scss */
a#SiteVersion:active {
  font-size: 10px;
}

/*----Ad Banners ----*/
/* line 1222, ../_base.scss */
#UMA_Ad_36_Label {
  margin-left: 10px;
  margin-top: 110px;
}

/* line 1227, ../_base.scss */
#UMA_Ad_36_Container {
  margin-left: 10px;
}

/* Circular Image Bound Box */
/* line 1233, ../_base.scss */
.BoundBox {
  overflow: hidden;
  height: 72px;
  width: 72px;
}

/* line 1239, ../_base.scss */
.SmallBoundBox {
  overflow: hidden;
  height: 36px;
  width: 36px;
}

/* Common for RegisterSignIn, Register and Forgot password pages */
/* line 1248, ../_base.scss */
#RegisterSignIn input[type=button], #Register input[type=button], #ForgotPassword input[type=button] {
  -webkit-appearance: none;
}
/* line 1251, ../_base.scss */
#RegisterSignIn .formTitle, #Register .formTitle, #ForgotPassword .formTitle {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
}

/* RegisterSignIn Page Layout */
/* line 1260, ../_base.scss */
#RegisterSignIn {
  padding-top: 20px;
  width: 1025px;
}
/* line 1266, ../_base.scss */
#RegisterSignIn #IntroText {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}
/* line 1271, ../_base.scss */
#RegisterSignIn #SignIn {
  float: left;
  width: 511.5px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: gray;
}
/* line 1278, ../_base.scss */
#RegisterSignIn #Register {
  float: left;
  width: 482.5px;
  margin-left: 30px;
}
/* line 1283, ../_base.scss */
#RegisterSignIn .title {
  font-size: 17px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
}
/* line 1289, ../_base.scss */
#RegisterSignIn .horizontalBorder {
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 461.25px;
}
/* line 1297, ../_base.scss */
#RegisterSignIn .registerSignInContent {
  margin-left: 10px;
}
/* line 1300, ../_base.scss */
#RegisterSignIn .normalText {
  font-size: 13px;
  padding-bottom: 5px;
}
/* line 1304, ../_base.scss */
#RegisterSignIn .boldText {
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
}
/* line 1309, ../_base.scss */
#RegisterSignIn .textBox {
  width: 200px;
}
/* line 1312, ../_base.scss */
#RegisterSignIn .submitButton {
  font-size: 14px;
  padding: 7px 15px;
  margin-top: 20px;
}
/* line 1318, ../_base.scss */
#RegisterSignIn #SignInButton {
  width: 140px;
}
/* line 1321, ../_base.scss */
#RegisterSignIn #Forgot {
  font-size: 11px;
  font-weight: bold;
  margin-left: 90px;
}
/* line 1326, ../_base.scss */
#RegisterSignIn #WhyCreateAccount {
  background: #EFEFEF;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  margin-top: 20px;
  line-height: 18px;
}
/* line 1335, ../_base.scss */
#RegisterSignIn form {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Register Page Layout */
/* line 1344, ../_base.scss */
#Register table, #Register tr, #Register td {
  margin: 0;
  padding: 0;
  border: none 0;
}
/* line 1349, ../_base.scss */
#Register .formInput {
  margin: 2px 0 2px 0;
  padding: 0;
}
/* line 1353, ../_base.scss */
#Register .registerBox {
  width: 100%;
  clear: both;
  margin: 0;
  padding: 0;
}
/* line 1359, ../_base.scss */
#Register .registerTitleBox {
  margin: 0;
  padding: 0;
}
/* line 1363, ../_base.scss */
#Register .registerInputBox {
  padding: 0;
}
/* line 1366, ../_base.scss */
#Register .textBoxDisabled {
  border: 1px solid #777;
  background: #ccc;
  padding: 2px;
  line-height: 14px;
}
/* line 1372, ../_base.scss */
#Register .required {
  color: red;
  font-weight: bold;
  vertical-align: top;
  margin-left: 3px;
}
/* line 1378, ../_base.scss */
#Register .clearer {
  height: 0;
  margin: 0;
  padding: 0;
  border: none 0;
  clear: both;
}
/* line 1385, ../_base.scss */
#Register .programTable {
  padding: 3px 0 3px 0;
  border-bottom: 1px solid #AAA;
  width: 550px;
}
/* line 1390, ../_base.scss */
#Register .desc {
  font-size: 10px;
  color: #777;
}
/* line 1394, ../_base.scss */
#Register #RegistrationPrivacyBox {
  width: 500px;
  margin: 0 auto 0 auto;
  text-align: center;
}
/* line 1399, ../_base.scss */
#Register #RegistrationPrivacyText {
  font-size: 11px;
  text-align: center;
}
/* line 1403, ../_base.scss */
#Register #PageTitle {
  font-size: 17px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 20px;
  width: auto;
}
/* line 1410, ../_base.scss */
#Register #PageDescription {
  font-size: 13px;
  margin-left: 10px;
  margin-bottom: 20px;
}
/* line 1415, ../_base.scss */
#Register .RegThankMessage {
  margin: 0px 20px 0px 20px;
  padding: 8px 30px 8px 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #006633;
  background-color: #E4FDE1;
  color: #006633;
  font-weight: bold;
}
/* line 1425, ../_base.scss */
#Register .floatLeft {
  float: left;
}
/* line 1428, ../_base.scss */
#Register .RegisterSubmitText {
  float: right;
  margin: 13px auto 10px 20px;
}
/* line 1432, ../_base.scss */
#Register .RegisterButton {
  font-size: 14px;
  padding: 7px 15px;
  margin-top: 10px;
}
/* line 1438, ../_base.scss */
#Register .textBox, #Register .textBoxDisabled {
  width: 200px;
}
/* line 1441, ../_base.scss */
#Register .pageSubTitle {
  font-size: 17px;
}
/* line 1447, ../_base.scss */
#Register #Messages {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}
/* line 1452, ../_base.scss */
#Register #frmRegister {
  float: left;
  width: 511.5px;
}
/* line 1455, ../_base.scss */
#Register #frmRegister #FormContent {
  padding-left: 10px;
}
/* line 1457, ../_base.scss */
#Register #frmRegister #FormContent .border {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: gray;
}
/* line 1464, ../_base.scss */
#Register #RegisterRight {
  float: left;
  width: 482.5px;
  margin-left: 30px;
}
/* line 1468, ../_base.scss */
#Register #RegisterRight #WhyCreateAccount {
  background: #EFEFEF;
  font-size: 12px;
  line-height: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  margin-top: 20px;
}
/* line 1476, ../_base.scss */
#Register #RegisterRight #WhyCreateAccount .boldText {
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
}

/* Common */
/* line 1488, ../_base.scss */
.horizontalBorder {
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  border-bottom-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Store locator Page Layout */
/* line 1499, ../_base.scss */
#StoreLocator .PageTitle, #StoreLocator #StoreLocatorTitle {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
}
/* line 1504, ../_base.scss */
#StoreLocator #StoreLocatorTitle {
  margin-top: 10px;
  margin-left: 10px;
}
/* line 1510, ../_base.scss */
#StoreLocator #StoreLocatorContent {
  margin-left: 10px;
}
/* line 1513, ../_base.scss */
#StoreLocator .label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
}
/* line 1518, ../_base.scss */
#StoreLocator #selStates {
  width: 100px;
  margin-right: 10px;
}
/* line 1522, ../_base.scss */
#StoreLocator #selCities {
  width: 100px;
}
/* line 1525, ../_base.scss */
#StoreLocator #ZipLabel {
  margin-right: 10px;
}
/* line 1528, ../_base.scss */
#StoreLocator #txtZipCode {
  width: 210px;
}
/* line 1531, ../_base.scss */
#StoreLocator #WithinLabel {
  margin-left: 20px;
  margin-right: 5px;
}
/* line 1535, ../_base.scss */
#StoreLocator .submitButton {
  font-size: 14px;
  padding: 7px 15px;
  width: 110px;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-appearance: none;
}
/* line 1544, ../_base.scss */
#StoreLocator #SearchContainer {
  margin: 15px auto 0 auto;
  width: 550px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
}
/* line 1550, ../_base.scss */
#StoreLocator #SearchContainer #SearchHeader {
  background-color: #EFEFEF;
  height: 25px;
  padding-top: 10px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  border-bottom-width: 1px;
}
/* line 1554, ../_base.scss */
#StoreLocator #SearchContainer #SearchHeader label {
  padding-left: 10px;
}
/* line 1561, ../_base.scss */
#StoreLocator #SearchContainer #SearchContent {
  padding-left: 10px;
  padding-top: 10px;
}
/* line 1568, ../_base.scss */
#StoreLocator #frmStoreLocator > table {
  margin: auto;
}
/* line 1571, ../_base.scss */
#StoreLocator #frmStoreLocator > table p.PageTitle, #StoreLocator #frmStoreLocator > table p#StoreLocatorTitle {
  text-align: center;
}
/* line 1576, ../_base.scss */
#StoreLocator #frmStoreLocator p.Success {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0px;
}
/* line 1584, ../_base.scss */
#StoreLocator #LocatorResultsTbl .CityTitle {
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}
/* line 1590, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox {
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  margin-right: 10px;
  margin-bottom: 20px;
}
/* line 1599, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox p {
  margin: 0px;
}
/* line 1602, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .Title {
  margin-left: 20px;
}
/* line 1604, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .Title .StoreTitle {
  font-size: 15px;
  font-weight: bold;
}
/* line 1610, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo > div {
  display: table-cell;
  padding: 0 20px;
  vertical-align: top;
}
/* line 1615, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreAddress {
  margin-left: 20px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: gray;
  width: 233.75px;
  height: 100%;
}
/* line 1622, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreAddress .SingleItemLinkText {
  font-weight: bold;
}
/* line 1625, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreAddress a:link, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreAddress a:visited, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreAddress a:hover, #StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreAddress a:active {
  color: #0167b6;
  text-decoration: none;
}
/* line 1630, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreHours {
  margin-left: 20px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: gray;
  width: 233.75px;
  height: 100%;
}
/* line 1637, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreHours .title {
  font-weight: bold;
}
/* line 1641, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreContact {
  margin-left: 20px;
  width: 233.75px;
  height: 100%;
}
/* line 1645, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreContact .title {
  font-weight: bold;
}
/* line 1649, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest {
  padding: 0px;
  margin-right: 30px;
  width: 233.75px;
  vertical-align: middle;
}
/* line 1654, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox {
  height: 22px;
}
/* line 1656, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox .SingleItemLinkText {
  font-size: 13px;
  padding: 7px 15px;
}
/* line 1660, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreInfo .StoreRest .SingleItemLinkBox .SingleItemLinkText:hover {
  text-decoration: none;
}
/* line 1667, ../_base.scss */
#StoreLocator #LocatorResultsTbl .StoreBox .StoreEnd {
  clear: both;
  height: 15px;
}
/* line 1672, ../_base.scss */
#StoreLocator #LocatorResultsTbl .locatorResult {
  margin-top: 10px;
}
/* line 1674, ../_base.scss */
#StoreLocator #LocatorResultsTbl .locatorResult .CityTitle {
  color: #0167b6;
  margin: 0px;
}
/* line 1678, ../_base.scss */
#StoreLocator #LocatorResultsTbl .locatorResult .tInfoCenter {
  margin: 0px;
}
/* line 1680, ../_base.scss */
#StoreLocator #LocatorResultsTbl .locatorResult .tInfoCenter a:link, #StoreLocator #LocatorResultsTbl .locatorResult .tInfoCenter a:visited, #StoreLocator #LocatorResultsTbl .locatorResult .tInfoCenter a:hover, #StoreLocator #LocatorResultsTbl .locatorResult .tInfoCenter a:active {
  color: black;
  font-size: 17px;
  text-decoration: none;
}

/* Forgot password Page Layout */
/* line 1692, ../_base.scss */
#ForgotPassword {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  background-color: #EFEFEF;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 40px;
}
/* line 1706, ../_base.scss */
#ForgotPassword #PageDescription {
  text-align: justify;
  font-size: 13px;
}
/* line 1710, ../_base.scss */
#ForgotPassword .textBox {
  width: 100%;
  padding: 3px;
  margin-top: 15px;
}
/* line 1715, ../_base.scss */
#ForgotPassword input[type=button] {
  background-color: #1E57AD;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none 0;
  padding: 7px 15px;
  margin-top: 30px;
}
/* line 1724, ../_base.scss */
#ForgotPassword a {
  font-weight: bold;
}
/* line 1727, ../_base.scss */
#ForgotPassword #Cancel {
  display: inline-block;
  margin-top: 38px;
  margin-left: 20px;
}
/* line 1732, ../_base.scss */
#ForgotPassword #PageTitle {
  float: left;
}
/* line 1735, ../_base.scss */
#ForgotPassword #PageTitleLink {
  float: right;
}
/* line 1738, ../_base.scss */
#ForgotPassword .horizontalBorder {
  clear: both;
  padding-top: 10px;
}

/* line 1744, ../_base.scss */
.genericProducts {
  margin: 0 20px;
}

/* line 1748, ../_base.scss */
#pointBalanceBody {
  margin-left: 8px;
}

/* line 1754, ../_base.scss */
.pointBalanceContainer .pointBalanceTable {
  margin-left: 8px;
}
/* line 1757, ../_base.scss */
.pointBalanceContainer > .pointBalanceTitle {
  padding: 3px 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #EEE;
  width: 250px;
}
/* line 1761, ../_base.scss */
.pointBalanceContainer .pointBalanceLink > a {
  font-weight: bold;
}

/* line 1766, ../_base.scss */
#MWGELP_Container {
  float: left;
  display: inline-block;
  margin-top: 8px;
}

/* Terms and Conditions */
/* line 1774, ../_base.scss */
#termsOfUse, #privacyPolicy {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}
/* line 1779, ../_base.scss */
#termsOfUse h1, #privacyPolicy h1 {
  font-size: 18px;
  margin-left: 13px;
}
/* line 1783, ../_base.scss */
#termsOfUse #pageContent, #privacyPolicy #pageContent {
  margin-left: 13px;
}
/* line 1785, ../_base.scss */
#termsOfUse #pageContent p, #privacyPolicy #pageContent p {
  font-size: 14px;
}
/* line 1788, ../_base.scss */
#termsOfUse #pageContent ul, #privacyPolicy #pageContent ul {
  padding-left: 25px;
}
/* line 1790, ../_base.scss */
#termsOfUse #pageContent ul li, #privacyPolicy #pageContent ul li {
  font-size: 15px;
}
/* line 1795, ../_base.scss */
#termsOfUse #pageHeader, #privacyPolicy #pageHeader {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
/* line 1799, ../_base.scss */
#termsOfUse .sectionHeader, #privacyPolicy .sectionHeader {
  font-weight: bold;
  margin: 20px 0;
  font-size: 16px;
}
/* line 1804, ../_base.scss */
#termsOfUse .sectionBody, #privacyPolicy .sectionBody {
  margin-top: 1em;
}

/* line 1811, ../_base.scss */
#termsOfUse #pageContent a {
  font-weight: bold;
}

/* Ad Landing */
/* line 1821, ../_base.scss */
.AdPage table {
  margin: auto;
  width: 100%;
}
/* line 1826, ../_base.scss */
.AdPage a:link {
  text-decoration: none !important;
}
/* line 1830, ../_base.scss */
.AdPage .paging {
  font-size: 12px;
  font-weight: bold;
}
/* line 1834, ../_base.scss */
.AdPage .paging .Grayed {
  background: #f0f0f0;
  color: black;
  padding: 5px 9px;
  margin-right: 5px;
  text-decoration: none;
  font-weight: bold;
}
/* line 1843, ../_base.scss */
.AdPage .paging a {
  background: linear-gradient(#4473b2, #1554a2);
  color: white;
  padding: 5px 9px;
  margin-right: 5px;
  text-decoration: none;
}
/* line 1851, ../_base.scss */
.AdPage #ProductResults {
  margin-left: auto;
  margin-right: auto;
}
/* line 1856, ../_base.scss */
.AdPage .ProductTable {
  border: 0;
  margin-bottom: 20px;
  width: 100%;
}
/* line 1862, ../_base.scss */
.AdPage .ProductColumn {
  width: 47%;
}
/* line 1866, ../_base.scss */
.AdPage .ProductColCenter {
  width: 6%;
}
/* line 1871, ../_base.scss */
.AdPage .Product {
  width: 100%;
  padding: 8px 8px 10px 10px;
  voice-family: "\"}\"";
  voice-family: inherit;
  border-bottom: 1px solid gainsboro;
}
/* line 1878, ../_base.scss */
.AdPage .Product .ProductImg {
  padding-right: 10px;
  width: 60px;
  display: inline-block;
  vertical-align: top;
}
/* line 1884, ../_base.scss */
.AdPage .Product .ProductImg img {
  max-width: 100%;
}
/* line 1889, ../_base.scss */
.AdPage .Product .ProductInfoContainer {
  display: inline-block;
  width: 65%;
}
/* line 1894, ../_base.scss */
.AdPage .Product .ProductInfo {
  max-width: 90%;
  line-height: 1.3;
  height: 121px;
}
/* line 1899, ../_base.scss */
.AdPage .Product .ProductInfo .ProductBrand {
  line-height: 1.1;
}
/* line 1903, ../_base.scss */
.AdPage .Product .ProductInfo .productDesc {
  font-size: 10px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 10%;
}
/* line 1910, ../_base.scss */
.AdPage .Product .ProductInfo p {
  margin: 10px 0;
}
/* line 1915, ../_base.scss */
.AdPage .Product .ProductButtons {
  background: linear-gradient(#4473b2, #1554a2);
  background-color: #4473b2;
  padding: 6px 10px;
  width: 80px;
  clear: both;
  text-align: center;
}
/* line 1923, ../_base.scss */
.AdPage .Product .ProductButtons a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
/* line 1932, ../_base.scss */
.AdPage #AddToListMessage {
  width: 558px;
  background-color: #eee;
  padding: 4px;
  text-align: center;
  margin: 0 auto 10px auto;
}
/* line 1940, ../_base.scss */
.AdPage #PagingBottom {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 23px;
}

/* Ads */
/* line 1949, ../_base.scss */
#AdContainer_UMA_Home_Bottom {
  margin-top: 10px;
  text-align: left;
}

/* line 1955, ../_base.scss */
#AdContainer_UMA_Home_Right {
  float: right;
  max-width: 160px;
  margin-left: 10px;
}

/* line 1961, ../_base.scss */
#AdContainer_StoreLocator_Bottom div {
  display: inline;
}

/* Facebook */
/* line 1967, ../_base.scss */
.t_navtopmenu .fb_iframe_widget {
  margin-left: 8px;
  display: inline !important;
}
/* line 1971, ../_base.scss */
.t_navtopmenu .fb_iframe_widget iframe {
  margin-top: 3px;
}

/* line 6, site.scss */
.t_navtopmenu {
  width: 60% !important;
}
